@import 'foundation';
@import 'util/color';
@include add-foundation-colors;

i.gold-star {
  color: gold;
}

i.grey-star {
  color: grey;
}

i.fa.fa-star {
  margin: 0.2rem;
}

div.review-tile {
  div.header {
    background-color: #2c3169;
    color: white;
    div.rating {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    p.speed-data-result {
      font-size: 1.2rem;
    }
  }
}

div.review-body {
  font-size: 1.2rem;
}
